li:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}

.list-group-item {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.btn-circle {
  border-radius: 15px;
}

.todo-list {
  max-height: 400px;
}
